html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  background-color: #3e3b24;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.top-page-hr{
    margin-top: 4px;
}

header {
  margin: 0;
  padding: 0;
}

.header-box {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
}

.img-logo {
    max-width: 30%;
    vertical-align: middle;
}

nav {
    margin: 0;
    padding: 0;
    min-width: 70%;
    /* background: linear-gradient(270deg, #E4D8C1, #3e3b24); */
    align-content: center;
}

.nav-bar {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    vertical-align: middle;
}

.nav-link, a {
    display: flex;
    text-decoration: none;
    color: #D4C69A;;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
     position: relative;
}

.dropdown-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.dropdown-text:hover {
  color: #f0e1b1;
}

.dropdown-text {
  font-size: clamp(1.25rem, 2vw, 2rem);
  
}

.dropdown-nav hr {
  width: 100%;
  padding: 0;
  margin: 0;
}


hr {
    padding: 0;
    margin: 0;
    color:  #D4C69A;
    border-color: #D4C69A;
}

.mobile-hr {
  display: none;
}

.fade-box-top {
    min-height: 10px;
    background: linear-gradient(0deg, #1c1c1c, #3e3b24);
}

.fade-box-bottom {
    min-height: 10px;
    width: 100%;
    background: linear-gradient(180deg, #1c1c1c, #3e3b24);
}

.container {
  display: flex;
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: visible;
  width: 100%;

}

.hero {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D4C69A;
  text-align: center;
  font-family: Copperplate Gothic;
  text-shadow: 1px 1px 2px black;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);  
  border-radius: 1rem;
  max-width: 80%;
}

.hero-title {
  font-size: 7.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 4rem;
  font-weight: 900;
  color: #D4C69A;
  text-shadow: 1px 1px 2px black;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.news-section {
  min-width: 100%;
  min-height: 85vh;
  max-height: 85vh;
  overflow: hidden;
  justify-items: center;
}

.news-section-header {
    text-align: center;
    font-family: Copperplate Gothic;
    font-weight: 900;
    font-size: 2.5em;
    color: #D4C69A;
    text-shadow: 1px 1px 2px black;
    min-width: 100%;
    align-content: center;
    display: block;
    margin-bottom: 10px;
}

.news-feed
{
  overflow-y: scroll;
  scrollbar-color: #D4C69A #3e3b24;
  scrollbar-width: thin;
  height: 75vh;
  overflow-x: hidden;
  width: min(100%, 1000px);
  margin: 0 auto;
  display: block;
}

.content-box {
  background-color: #D4C69A;
  width: 90%;
  max-width: 1500px;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  box-shadow: 0px 10px 10px #1c1c1c;
}

.content-title {
  text-align: center;
  font-family: Copperplate Gothic;
  font-weight: 900;
  font-size: 2.5em;
  color: #303d39;
}

.content-subtitle {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: Copperplate Gothic;
  font-weight: 900;
  color: #303d39;
}

.content-img {

  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 0.5rem;

}

.content-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items:center;
  font-size: 1.15rem;
  vertical-align: middle;
}

.content-details img {
  flex: 1 1 300px;

  max-width: 100%;
  height: auto;
  vertical-align: middle;
  
}

.content-media {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  min-width: 40%;
  
}

.content-text {
  font-size: 1.3rem;

}

.main-page-socials {
    min-height: 10vh;
    color: black;
    background-color: #D4C69A;
    width: 100vw;
    text-align: center;
    background: linear-gradient(0deg, #D4C69A, #3e3b24);
    justify-items: center;
    overflow-x: hidden;
}

.main-page-socials hr{
  width: 100%;
  display: flex;
}

.socials-list {
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 7.5em;
  padding-top: 1em;
}

.social-link-item {
  display: flex;
  text-decoration: none;
  margin: 0;
}

.social-link-img {
  max-height: 4rem;
}

.motto-text {
  text-align: center;
  font-weight: 900;
  font-size: 2.2em;
  font-family: Copperplate Gothic;
  color: #303d39;
}

footer {
  background: #D4C69A;
  color: #303d39;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-family: Montserrat;
  font-weight: 900;
}

	.contact-section {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background-color: #e4e1db;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Roboto, sans-serif;
  margin-top: 25px;
}

.contact-section h2 {
  font-size: 1.8rem;
  color: #303d39;
  margin-bottom: 10px;
  text-align: center;
}

.contact-section p {
  text-align: center;
  color: #303d39;
  margin-bottom: 25px;
  
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  
  
}

label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #303d39;
}

input,
textarea {
  margin-bottom: 20px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #66a07a;
  box-shadow: 0 0 0 3px rgba(102, 160, 122, 0.2);
}

/* Button */
button {
  background-color: #303d39;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #83a49a;
}

button:active {
  transform: scale(0.98);
}

.contact-text {
  font-size: 1.5rem;
  text-align: center8;
}

.placeholder{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D4C69A;
  text-align: center;
  font-family: Copperplate Gothic;
  text-shadow: 1px 1px 2px black;
}


@media only screen and (max-width: 844px)
{
body{
  width: 100%;
}

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.img-logo{
 min-width: 100%; 
}

.nav-link, a{
 font-size: 1.2rem; 
}

nav {
  min-width: 100%;
}

.hero-title{
  font-size: 3rem;
}

.hero-subtitle{
  font-size: 1.5rem;
}

.hero{
  max-height: 60%;
}

.content-box {
  width: 80%;
}

.news-section {
  min-width: 100%;
  min-height: 85vh;
  max-height: 85vh;
  overflow: hidden;
}

.content-box{
  display: flex;
  flex-direction: column;
}

.content-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-text {
  width: 100%;
}

.content-img {
  min-width: 80%;
  padding-bottom: 10px;
}

.content-title{
  font-size: 1.8rem;
}

.mobile-hr {
  display: block;
  width: 100%;
}

.socials-list {
  gap: clamp(0.2rem, 3vw, 20rem);
}

.content-subtitle {
  font-size: 1rem;
}

}

.dropdown-nav {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0); /* collapsed vertically */
  transform-origin: top center;
  background-color: #3e3b24;
  width: clamp(6rem, 10vw, 12rem);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  padding: 0;
  opacity: 0;
  transition:transform 0.3s cubic-bezier(0.25, 1.5, 0.5, 1), opacity 0.2s ease;

}


.nav-link:hover .dropdown-nav {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
}

.dropdown-nav {
  transform: translate(-50%, -10%) scaleY(0);
}





