<hr class="top-page-hr">
<div class="header-box">
    <img class="img-logo" src="img/Anvillogopale.png">
    <hr class="mobile-hr">
    <nav>
        <ul class="nav-bar">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link">Services
                <div class="dropdown-nav">
                    <div class="dropdown-links">
                        <a class="dropdown-text" href="webdev.html">Websites</a>
                        <!-- <a class="dropdown-text" href="bing.com">Games</a> -->
                    </div>
                    <hr>
                </div>
            </li>
            <li class="nav-link"><a href="team.html">Team</a></li>
            <li class="nav-link"><a href="about.html">About</a></li>
            <li class="nav-link"><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
<hr>
<div class="fade-box-top">
</div>